* {
    margin: 0;
    padding: 0;
}

#game-screen {
    position: relative;
    overflow: hidden;
    background-image: url(./../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

body {
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.supermario {
    width: 600px;
    height: 300px;
}

.start {
    width: 200px;
    height: 200px;
}

#controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

#controls img {
    width: 60px;
    height: 60px;
    padding: 20px;
}

button {
    background-color: transparent;
    border: none;
}

#startPage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FCEC00;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gameOver {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E71E07;
    display: none;
    flex-direction: column;
    align-items: center;
}

.gameOver {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 600px;
    height: 300px;
}

.bowser {
    width: 350px;
    height: 500px;
}

.reset {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding-top: 400px;
    padding-left: 300px;
    width: 50px;
    height: 50px;
}

#win {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #39E220;
    display: none;
    flex-direction: column;
    align-items: center;
}

#win1 {
    display: flex;
    align-items: center;
}

#gameOver1 {
    display: flex;
    align-items: center;
}

.win {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 600px;
    height: 300px;
}

.mario {
    padding-bottom: 10px;
    width: 200px;
    height: 450px;
}

.counterLives {
    display: none;
}

.counterLives img {
    width: 50px;
    height: 50px;
}